<nav class="site-nav">
  <div class="logo">
    <%= link_to 'Break it Better', 'http://breakitbetter.com' %>
  </div>
  
  <div class="links">
    <a href="/articles/">Articles</a>
    <a href="/about/">About</a>
  </div>
  
</nav>