---
pageable: true
per_page: 10
---
<header>
  <nav>
    <a href="">Break it Better</a>
    <a href="">Articles</a>
    <a href="">About</a>
    <a href="">Twitter</a>
  </nav>
</header>

<article>

  <header>
    <div class="container">
      <a class="category">Category</a>
      <h1>Title</h1>
      <p class="dateline">Dateline</p>
      <div class="standfirst">
        <h2>Standfirst</h2>
        <div class="sharing"></div>
      </div>  
    </div>
  </header>
  
  <section class="page container">
    <div class="inner-page">
      <aside class="meta-data">
        Meta data
      </aside>
      <div class="main-run">
        <p>Artcile</p>
      </div>
    </div>
  </section>

  <footer>
    Biographical details details
  </footer>

</article>

<section class="related-articles">
  <div class="container">
    Related articles
  </div>
  
</section>

<footer>
  <div class="container">
    Site footer
  </div>
</footer>
