---
pageable: true
per_page: 10
---
<article>

  

  <header class="cover">
    <nav class="site-nav">
      <div class="logo">
        <a href="">Break it Better</a>
      </div>
      
      <div class="links">
        <a href="">Articles</a>
        <a href="">About</a>
      </div>
      
    </nav>

    <div class="container">
      <a class="category" href="">Being a designer</a>
      <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
      <p class="dateline">written by Gearóid O'Rourke &mdash; November 24, 2014 &mdash; London</p>
      <div class="standfirst">
        <h2>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </h2>
        <div class="sharing"></div>
      </div>  
    </div>
  </header>
  
  <section class="page container">
    <div class="page-inner">
      <div class="main-run">
        <p>Mhere is nothing more terrifying than the blank page. There is nothing more exhilarating than the blank page. Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering siren promise of the sublime.</p>

        <p>My every design starts with a sketch. Each new project gets a new leaf in my jotter. There is a moment, when my pen hovers above the crisp, white, French paper, before any mark is made or cypher has been constructed, before wires or frames, when the entirety of the design hangs in the balance.</p>

        <h3>Nothing hangs in the balance:</h3>

        <ol>
          <li>Very design starts with a sketch. Each new project gets a new leaf in my jotter. </li>
          <li> They play no part in the concerto of human form and physics that sends an inflated oval soaring between two uprights.</li>
          <li>Nothing hangs in the balance.</li>
          <li>To date, they have yet to produce an instantaneous and original masterpiece,</li>
        </ol>


        <%= image_tag "test-image-2.jpeg", :class => "oversized" %>

        <p class="caption">My lovely wife doing here thing. Photo: Martin McKenna</p>  


        <p>Have you ever watched an out-half in a game of rugby tap both toes on the grass before stepping up to kick? These are meaningless taps. No flight of a ball has ever been affected by them. They play no part in the concerto of human form and physics that sends an inflated oval soaring between two uprights.</p>

        <h4>But they are ritual and they mean everything.</h4>

        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <ul>
          <li>Very design starts with a sketch. Each new project gets a new leaf in my jotter.</li>
          <li> They play no part in the concerto of human form and physics that sends an inflated oval soaring between two uprights.</li>
          <li>Nothing hangs in the balance.</li>
          <li>To date, they have yet to produce an instantaneous and original masterpiece,</li>
        </ul>

        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <%= image_tag "test-image-2.jpeg"%>
        <p class="caption">My lovely wife doing here thing. Photo: Martin McKenna</p>  

        <hr/>

        <p>F. Scott Fitzgerald’s The Great Gatsby is released in cinemas again this week — the 5th attempt at filming that unfilmable book. In an essay in <a href="">this month’s Esquire</a>, Andrew O’Hagan quotes one of Fitzgerald’s letters, written while he was wrangling with Gatsby.
        In it Fitzgerald captures the acute mental agony of those first scrapes of nib across paper, but also their infinite promise to be better than all that has gone before:</p>

        <blockquote>
          <p>I feel I have an enormous power in me now, more than I’ve ever had in a way but it works so fitfully and with so many bogeys… in my new novel I’m thrown directly on purely creative work — not trashy imaginings as in my stories but the sustained imagination of a sincere and yet advent world. So I tread slowly and carefully and at times in considerable distress distress</p> 
          <span>F. Scott Fitzgerald</span>
        </blockquote>

        <p>Designers: tread slowly, carefully and endure the distress. Wonder awaits beyond those first marks</p>

        <h5>Wonder awaits beyond those first marks</h5>

        <p>F. Scott Fitzgerald’s The Great Gatsby is released in cinemas again this week — the 5th attempt at filming that unfilmable book. In an essay in this month’s Esquire, Andrew O’Hagan quotes one of Fitzgerald’s letters, written while he was wrangling with Gatsby.
        In it Fitzgerald captures the acute mental agony of those first scrapes of nib across paper, but also their infinite promise to be better than all that has gone before:</p>

        <%= image_tag "test-image.png"%>

        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <p class="pullquote">There is a moment, when my pen hovers above the crisp, white, French paper, before any mark is made or cypher has been constructed, before wires or frames, when the design hangs in the balance.</p>

        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <p>&#10081;</p>

        <footer class="tags">
          Tagged as: <a href="" class="tag">Design</a> <a href="" class="tag">Product development</a> <a href="" class="tag">Development</a> <a href="" class="tag">Startups</a>
        </footer>

      </div>
    </div>
  </section>

  

</article>

<section class="related-articles">
  <div class="container">

    <h2>Related articles</h2>
    <ul>
      <li class="featured">
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
  
    </ul>
  </div>
  
</section>

<footer class="site-footer">
  <div class="container">
    Site footer
  </div>
</footer>
