<article>

  <header class="cover about">
    <nav class="site-nav">
      <div class="logo">
        <a href="">Break it Better!</a>
      </div>
      
      <div class="links">
        <a href="">Articles</a>
        <a href="">About</a>
      </div>
      
    </nav>

    <div class="container">
      <a class="category" href="">About us</a>
      <h1>Breaking things better</h1>

    </div>
  </header>
  
  <section class="page container">
    <div class="page-inner">
      <div class="main-run">
       
        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>
        
        <%= image_tag "gearoid-lg.jpg"%>
        <p class="caption">My lovely wife doing here thing. Photo: Martin McKenna</p>  


        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <p class="pullquote">There is a moment, when my pen hovers above the crisp, white, French paper, before any mark is made or cypher has been constructed, before wires or frames, when the design hangs in the balance.</p>

        <p>Those first marks I make on that pristine leaf are my meaningless taps. They are everything and nothing.They are a mental commitment, a reset, a firing of engines and a tentative first step all rolled into one. To date, they have yet to produce an instantaneous and original masterpiece, but everything I design flows from them. Most of then have ended up in the trash.</p>

        <p>&#10081;</p>

       
      </div>
    </div>
  </section>

  

</article>

<div class="container">
  <section class="article-grid">
    <h2>Popular articles</h2>
    <ul class="related-articles">
      <li class="featured">
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
  
    </ul>
  </section>
</div>

<footer class="site-footer">
  <nav class="site-nav">
    <div class="logo">
      <a href="">Break it Better</a>
    </div>
    
    <div class="links">
      <a href="">Articles</a>
      <a href="">About</a>
    </div>
    
  </nav>
  <div class="container">
    <p class="copyright">Copyright Gearóid O'Rourke 2014. The type is set in Quarto 16/22</p>
  </div>
  
</footer>
