<article>

  <header class="cover category">
    <nav class="site-nav">
      <div class="logo">
        <a href="">Break it Better</a>
      </div>
      
      <div class="links">
        <a href="">Articles</a>
        <a href="">About</a>
      </div>
      
    </nav>

    <div class="container">
      <a class="category" href="">Articles</a>
      <h1>On “being a designer”</h1>

    </div>
  </header>
  
  

  

</article>

<div class="container">
  <section class="article-grid three-col">
    <ul class="related-articles">
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li> 
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
    </ul>
  </section>
</div>

<footer class="site-footer">
  <nav class="site-nav">
    <div class="logo">
      <a href="">Break it Better</a>
    </div>
    
    <div class="links">
      <a href="">Articles</a>
      <a href="">About</a>
    </div>
    
  </nav>
  <div class="container">
    <p class="copyright">Copyright Gearóid O'Rourke 2014. The type is set in Quarto 16/22</p>
  </div>
  
</footer>
