---

---
<article>

  <header class="cover index">
    <nav class="site-nav">
      <div class="logo">
        <a href="">Break it Better</a>
      </div>
      
      <div class="links">
        <a href="">Articles</a>
        <a href="">About</a>
      </div>
      
    </nav>

    <div class="container">
      <a class="category" href="">Being a designer</a>
      <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
      <p class="dateline">written by Gearóid O'Rourke &mdash; November 24, 2014 &mdash; London</p>
      <div class="standfirst">
        <h2>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering.</h2>

        <div class="sharing">
          <a href="" class="readmore"> Read in full </a>
        </div>
      </div>  
    </div>
  </header>
</article>

<div class="container">
  <section class="article-grid">
    <h2>
      On “being a designer”
      <a href="">View all</a>
    </h2>
    <ul class="related-articles">
      <li class="featured">
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
  
    </ul>
  </section>
</div>
  

<div class="container">
  <section class="article-grid">
    <h2>
      On “startups”
      <a href="">View all</a>
    </h2>
    <ul class="related-articles">
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li class="featured">
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      </li>
    </ul>
  </section>
</div>  

<div class="container">
  <section class="editedby">
    <p><span class="wordmark">Break it Better</span> is written by Gearóid, a London-based designer. <a href="">Find out more </a> </p>
  </section>
</div>

<div class="container">
  <section class="article-grid">
    <h2>
      On “product development”
      <a href="">View all</a>
    </h2>
    <ul class="related-articles">
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li class="featured">
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
  
    </ul>
  </section>
</div>



<div class="container">
  <section class="article-grid">
    <h2>
      Ephemera
      <a href="">View all</a>
    </h2>
    <ul class="related-articles">
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li class="featured">
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      </li>
    </ul>
  </section>
</div>


<footer class="site-footer">
  <nav class="site-nav">
    <div class="logo">
      <a href="">Break it Better</a>
    </div>
    
    <div class="links">
      <a href="">Articles</a>
      <a href="">About</a>
    </div>
    
  </nav>
  <div class="container">
    <p class="copyright">Copyright Gearóid O'Rourke 2014. The type is set in Quarto 16/22</p>
  </div>
  
</footer>