---
---
<article>

  <header class="cover">
    <nav class="site-nav">
      <div class="logo">
        <a href="">Break it Better</a>
      </div>
      
      <div class="links">
        <a href="">Articles</a>
        <a href="">About</a>
      </div>
      
    </nav>

    <div class="container">
      <a class="category" href="">Being a designer</a>
      <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
      <p class="dateline">written by Gearóid O'Rourke &mdash; November 24, 2014 &mdash; London</p>
      <div class="standfirst">
        <h2>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </h2>
        <div class="sharing"></div>
      </div>  
    </div>
  </header>
  
  <section class="page container">
    <div class="page-inner">
      <div class="main-run">
        
        <footer class="tags">
          Tagged as: <a href="" class="tag">Design</a> <a href="" class="tag">Product development</a> <a href="" class="tag">Development</a> <a href="" class="tag">Startups</a>
        </footer>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            
          var disqus_shortname = 'breakitbetter';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
      
      </div>
    </div>
  </section>

</article>

<div class="container">
  <section class="article-grid">
    <h2>Being a designer</h2>
    <ul class="related-articles">
      <li class="featured">
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <blockquote>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </blockquote>
            <p>&mdash; Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</p>
          </article>
        </a>
      <li>
        <a href="" class="related-article">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
      </li>
      <li>
        <a href="" class="related-article last">
          <article>
            <span class="category">Product</span>
            <h1>Towards business goals <i>&amp;</i> away from ‘put a button here’ mentality</h1>
            <p>Designers, this is the paradox we live. A blank page is life and death to the us, as it is life and death to the writer. A cruel taunting adversary and a whispering. </p> 
          </article>
        </a>
  
    </ul>
  </section>
</div>


